body{
    font-family: "PLayfair Display",Helvetica,"Quicksand";
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-style: oblique;
}

.ingrediants-item,
.recipe-instructions{
    font-size: 19px;
    font-variant-position: super;
}

.image-descrip{
    font-weight: bold;
    font-style: oblique;
    font-size: 14px;
}

.ingrediants-item{
    font-style: oblique;
    font-size: 19px;
    font-variant-position: super;
}

.picture-headings{
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: tomato;
}

.recipe-image{
    width: 600px;
    height: auto;
}

#headings{
 font-style: oblique;
 font-weight: bold;
 color: tomato;
}


